body{
    font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 350%;
  line-height: 1.5;
}
h3{
   font-family: 'Montserrat', sans-serif;
}

p{
  color: #8f8f8f;
}
h2{
  font-family: 'Montserrat';
  font-size: 300%;
  line-height: 1.5;
}
#title{
  background-color: #ff4c68;
  color:white;

}
.container-fluid{
  padding: 3% 20% 7%;

}
/* navigation bar */
.navbar{
  padding : 0 0 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;

}
.nav-item{
  padding: 0 18px 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat'
}
.Download-button{
  margin: 5% 3% 5% 0
}
/* Title-image */
.front-image{
  width: 30%;
  transform: rotate(25deg);
    position:absolute;
    right: 30%;
}
/* featuressection */
#features{
  padding:7% 15%;
  background-color: white;

  position:relative;
}
.features-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;

}
.icon:hover{
  color: #ff4c68;
}
#testimonials
{
  padding: 7% 15%;
  text-align: center;
  background-color:#ef8172 ;
  color: white;
}
.testimonials-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
#press{
  background-color:#ef8172 ;
  text-align: center;
  padding: 3%;

}
.press-logo{
  width: 15%;
  margin:20px 20px 50px;
}
/* pricing select */
#pricing{
  padding:100px;

}
.pricing-column{
  padding: 3% 2%;
  text-align: center;
}
/* media */
@media (max-width:992px) {
  .front-image{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }

}
#cta{
    background-color: #ff4c68;
    color: white;
    text-align:center;
padding: 7% 15%;

}
.cta-heading{
  font-size:3.5rem;
  line-height: 1.5;
}
/* footer section */
#footer{
  padding: 7% 15%;

  text-align: center;
}
.social{
  margin: 20px 10px;
}
